<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties>
      <!--  <property name="jdbc.driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="jdbc.url" value="jdbc\:mysql\://127.0.0.1\:3306/test2?characterEncoding\=utf-8" />
        <property name="jdbc.username" value="root" />-->
<!--        <property name="jdbc.password" value="" />-->
    </properties>
    <settings>
        <setting name="cacheEnabled" value="true" />
    </settings>
    <typeHandlers>
    </typeHandlers>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <dataSource type="com.boot.mybatis.DruidDataSourceFactory">
                <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
                <!-- 基本属性 url、user、password -->
                <property name="url" value="jdbc:mysql://127.0.0.1:3306/test2?serverTimezone=Asia/Shanghai"/>
                <property name="username" value="root"/>
                <property name="password" value=""/>

                <!-- 配置初始化大小、最小、最大 -->
                <property name="initialSize" value="1" />
                <property name="minIdle" value="2" />
                <property name="maxActive" value="5" />

                <!-- 配置获取连接等待超时的时间 -->
                <property name="maxWait" value="60000" />

                <!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->
                <property name="timeBetweenEvictionRunsMillis" value="60000" />

                <!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->
                <property name="minEvictableIdleTimeMillis" value="300000" />

                <property name="validationQuery" value="SELECT 'X'" />
                <property name="testWhileIdle" value="true" />
                <property name="testOnBorrow" value="false" />
                <property name="testOnReturn" value="false" />

                <!-- 打开PSCache，并且指定每个连接上PSCache的大小 -->
                <!--<property name="poolPreparedStatements" value="true" />-->
          <!--      <property name="maxPoolPreparedStatementPerConnectionSize" value="20" />-->
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <package name="com.boot.mybatis.mapper"/>
    <!--    <mapper resource="TradeLogMapper.xml"/>-->
   <!--     <mapper class="mybatis.mapper.TradeLogMapper"/>-->
    </mappers>
</configuration>